<html>

<body>

<form method="post" action="/cheque_runs">
  <label for="upload_input">
    Cheque File
  </label>
  <input id="upload_input" name="upload_input" type="file">
  <input type="submit" value="Submit">
</form>

</body>

</html>
