<!DOCTYPE html>
<html>
<head>
  <title>Cheques</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="container">
    
    <header>
      <h1>Pivotal Chequer</h1>
    </header>

    <section>
      <%= yield %>
    </section>

  </div>

</body>
</html>
